body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    -webkit-font-smoothing: antialiased;
  }

.hidden-row {
    display: none;
}

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 5px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }

#lk, #number, #loetud {
    width: 5%;
}

.buttonClass {
    font-size:15px;
    font-family:Arial;
    width:172px;
    height:69px;
    border-width:1px;
    color:#fff;
    border-color:#599bb3;
    font-weight:bold;
    border-top-left-radius:12px;
    border-top-right-radius:12px;
    border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;
    box-shadow: 4px 10px 22px 1px #276873;
    text-shadow: 3px 3px 0px #3d768a;
    background:linear-gradient(#599bb3, #408c99);
  }
  
  .buttonClass:hover {
    background: linear-gradient(#408c99, #599bb3);
  }